html {
    height: 100%;
    width: 100%;
}

body {
    background-color: lightslategray;
}


#h-1 {
    font-size: 40px;
    font-style: italic;
    font-weight: bold;
}

main {
    display: grid;
    column-gap: 20px;
    row-gap: 10px;
    grid-template-columns: 1fr 2fr 2fr;
}
