html {
    height: 100%;
    width: 100%;
}
  
  img {
   height: 300px;
   width: 300px;
   margin: 10px;


    
  }
  
  body {
    background-color: lightblue;
  }
 
  #h-1 {
    font-size: 40px;
    padding: 20px;
    font-style: italic;
    font-weight: bold;
    text-align: center;
  }



#img-1 {
    border: 15px solid black;
    
    
}

#img-2 {
    border: 15px solid black;
    
}

#img-3 {
    border: 15px solid black;
    
}

#voting-space {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-evenly;
    padding: 175px;
}

#final-results {
   text-align: center;
   
}